@font-face {
    font-family: 'Biryani';
    src: url('./assets/fonts/Biryani-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Biryani';
    src: url('./assets/fonts/Biryani-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Bungee';
    src: url('./assets/fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
}